<!-- Login Page -->
<div class="min-h-screen flex items-center justify-center bg-cover bg-center"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('assets/login.jpg');">
  <div class="bg-white bg-opacity-30 backdrop-blur-lg p-8 rounded-lg shadow-lg max-w-sm w-full">
    <h2 class="text-3xl font-bold text-[#28282B] text-center mb-6">Login</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div class="mb-6">
        <label class="block text-[#28282B] font-semibold mb-2">Email</label>
        <input formControlName="email" type="email"
          class="w-full px-4 py-2 border border-[#B0A695] rounded-md focus:ring-2 focus:ring-[#EBE3D5]">
      </div>
      <div class="mb-6">
        <label class="block text-[#28282B] font-semibold mb-2">Password</label>
        <input formControlName="password" type="password"
          class="w-full px-4 py-2 border border-[#B0A695] rounded-md focus:ring-2 focus:ring-[#EBE3D5]">
      </div>
      <button type="submit"
        class="w-full bg-[#F3EEEA] text-black py-2 px-4 rounded-md hover:bg-[#776B5D]">Login</button>
    </form>
  </div>
</div>